@model IEnumerable<AppUTM.Client.Models.Historial>

@{
    ViewData["Title"] = "Index";
    int i = 1;
    int i2 = 1;
}

<h1>Usos por divisiones</h1>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th>
                    Departamento
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Departamento == "Tecnologías de la Información")
                {
                    <tr>
                        <th scope="row">
                            @(i++)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.Departamento)
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>

</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th>
                    Departamento
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Departamento == "Gastronomía 2018")
                {
                    <tr>
                        <th scope="row">
                            @(i2++)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.Departamento)
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>

</div>

