@model AppUTM.Api.DTOS.Permissions.PermissionCreate

@{
    ViewData["Title"] = "Create";
}


<h4>Crear permisos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Module" class="control-label"></label>
                <input asp-for="Module" class="form-control" />
                <span asp-validation-for="Module" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-secondary btn-sm" asp-action="Index">Regresar</a>
                <input type="submit" value="Crear permiso" class="btn btn-green btn-sm" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
