@model AppUTM.Api.DTOS.Permissions.PermissionForUpdateDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Permiso</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
            <div class="form-group">
                <label asp-for="Module" class="control-label"></label>
                <input asp-for="Module" class="form-control" />
                <span asp-validation-for="Module" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar permisos" class="btn btn-green btn-sm" />
                <a class="btn btn-secondary btn-sm" asp-action="Index">Regresar</a>

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
