@model IEnumerable<AppUTM.Api.DTOS.Permissions.PermissionReturn>

@{
    ViewData["Title"] = "Index";
}

<h1>Permisos</h1>

<p>
    <a class="btn btn-green btn-sm" asp-action="Create">Crear Permiso</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Module)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Module)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
