@model AppUTM.Client.Models.CuponGenerico   
@{
    ViewData["Title"] = "Agregar cupón genérico";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<div class="container mt-3">    
    <h4>Agregar cupón genérico para @Model.NombreEmpresa</h4>
    <form method="post" asp-action="CreateGenerico">
        <div class="form-group row mt-4">
            <div class="form-group col-md-4">
                <label>Fecha de vencimiento</label>
                <input type="date" class="form-control" asp-for="FechaExpiracion" value="2022-01-01" required>
            </div>
            <div class="form-group col-md-4">
                <label>Porcentaje</label>
                <input type="number" class="form-control" asp-for="PorcentajeDescuento" value="5" required>
            </div>
            <div class="form-group col-md-4">
                <label>Cantidad de cupones</label>
                <input type="number" class="form-control" asp-for="NumeroPorPersona" value="10">
            </div>
        </div>
        <div class="form-group mt-4">
            <label for="">Descripción</label>
            <input type="text" class="form-control" asp-for="Descripcion" required>
        </div>
        <input type="hidden" asp-for="CuponesUsados" value="0" />
        <input type="hidden" asp-for="CuponesVisitados" value="0" />
        <input type="hidden" asp-for="EmpresaId" value="@Model.EmpresaId" />

        <button type="submit" class="btn btn-green mt-4">Registrar Cupón</button>
        <a class="btn btn-secondary mt-4" asp-route-Id="@Model.EmpresaId" asp-action="Index">Regrear/Cancelar</a>
    </form>
</div>


