
@using AppUTM.Api.DTOS.ModulesRoles;
@using AppUTM.Api.DTOS.Modules;
@using AppUTM.Client.Models.Roles;

@model ModuleRoleCreate
@{
    List<SelectListItem> modulo = ViewBag.Modulos;
    List<SelectListItem> roles = ViewBag.Roles;
    ViewData["Title"] = "Index";
}

<h1>Acceso a modulos:</h1>



<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAccess">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-4">

                

                <label><b>Modulos:</b></label><br />
            <div class="col-md-12">

                    @Html.DropDownListFor(model => model.ModuleId, modulo, new { htmlAttributes = new { @class = "form-control" } })

                </div>


            </div><br /><br />
            <div class="col-md-4">

                
                <label><b>Roles:</b></label>   <div class="col-md-12">

                    @Html.DropDownListFor(model => model.RoleId, roles, new { htmlAttributes = new { @class = "form-control" } })

                </div>

            </div><br /><br />

        
            <div>
                <input type="checkbox" asp-for="Lectura" id="Lectura" /> <label>Lectura</label>
                <input type="checkbox" asp-for="Escritura" id="Escritura" /> <label>Escritura</label>

             </div>   <br /><br />
     

            <div class="form-group">
                <input type="submit" value="Crear Rol" class="btn btn-green btn-sm" />
                <a class="btn btn-secondary btn-sm" asp-action="Index">Regresar</a>

            </div>

        </form>
    </div>
</div>

<div>

</div>

@section Scripts {
  
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    $(document).ready(function () {
        $('#Escritura').click(function () {
            if ($('#Escritura').is(':checked')) {
                $('#Lectura').prop("checked", true);
            }
            //} else {
            //    $('#Lectura').prop("checked", false);

            //}
           
        })

    });
</script>
}



