@using AppUTM.Client.Models.Roles;
@using AppUTM.Client.Models.Users
@model AppUTM.Client.Models.Users.UserCreate

@{
    List<RoleReturn> roles = ViewBag.Roles;

    ViewData["Title"] = "Create";

}

<h1>Crear Usuario</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClaveEmpleado" class="control-label"></label>
                <input asp-for="ClaveEmpleado" class="form-control" required/>
                <span asp-validation-for="ClaveEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class ="form-control" required/>
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoPaterno" class="control-label"></label>
                <input asp-for="ApellidoPaterno" class="form-control" required />
                <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoMaterno" class="control-label"></label>
                <input asp-for="ApellidoMaterno" class="form-control" required />
                <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" required />
                <span asp-validation-for="Correo" class="text-danger"></span>

            </div><br />
            <div class="form-group">
                <label asp-for="UserRoles" class="control-label"></label>

                @foreach (var item in roles)
                {
                    <input type="checkbox" name="role[]" value="@item.Id" /> <label>@item.Nombre</label>
                }


            </div><br /><br />
            <div class="form-group">
               <input type="submit" value="Crear Usuario" class="btn btn-green btn-sm" />
               <a class="btn btn-secondary btn-sm" asp-action="Index">Regresar</a>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
