@model AppUTM.Client.Models.ListEmpresas;

@{
    ViewData["Title"] = "Empresas inactivas";
    Layout = null;
}

<head>
    <title>Empresas inactivas</title>
</head>

<div class="container mt-3">

    <table style="text-align: center" class="table mt-3">
        <thead>
            <tr>
                <th scope="col">Nombre de empresa</th>
                <th scope="col">Dirección</th>
                <th scope="col">Teléfono</th>

            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var item in Model.empresasRegistradas)
            {

                if (item.Activa == false)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Direccion</td>
                        <td>@item.Telefono</td>

                    </tr>
                }

            }
        </tbody>
    </table>


</div>
