@{
    Layout = null;
}

<!DOCTYPE html>

<html>
@*<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactHeaderPDF</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>*@
<body>
    <div class="row">
        <div class="col-sm-4">
            <img src="~/img/logo.png" />
        </div>
        <div class="col-sm-8 text-right">
       
        </div>
    </div>
</body>
</html>
