@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactHeaderPDF</title>
</head>
<body>
    <div>
        <p><img style="width:200px; height:80px" src="~/img/logo UTM-01.png"></p>

        <div style="font-size:30px; font-family:Arial; font-weight:bold">
            <p style="text-align: center; color: #01A684; line-height: 2px; ">Reporte de cupones por empresa</p>
            <br />
        </div>
    </div>

</body>
</html>
