@{
    ViewData["Title"] = "Reporte";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<title>ContactHeaderPDF</title>*@
</head>
<body>
    <div>
        <p style="text-align:center"><img style="width:1470px; height:95px" src="~/img/encabezado oficial.jpg"></p>

        <div style="font-size:30px; font-family:Arial; font-weight:bold">
            <p style="text-align: center; color: #01A684; line-height: 2px; ">Reporte de los cupones por empresa</p>
            <br />
        </div>
    </div>

</body>
</html>
