<AuthorizeView>
    <Authorized>
        <button class="btn btn-outline-light" @onclick="BeginLogout"> Log out</button>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-outline-light" href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginLogout(MouseEventArgs args)
    {
        await _localStorage.ClearAll();
        await _signOutManager.SetSignOutState();
        _navigation.NavigateTo("authentication/logout");
    }
}