@{
    ViewData["Title"] = "Home Page";
}
<!-- Dashboard -->
<div class="container-fluid p-3">
    <section>
        <div class="col-xl-3 col-sm-6 col-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-danger">X</h3>
                    <p class="mb-0">Empresas vigentes</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-success">X</h3>
                    <p class="mb-0">Cupones totales</p>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 col-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-info">X</h3>
                    <p class="mb-0">Cupones disponibles</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-warning">X</h3>
                    <p class="mb-0">Cupones usados</p>
                </div>
            </div>
        </div>
    </section>
</div>