<style>
    .avatar {
        vertical-align: middle;
        width: 96px;
        height: 96px;
        border-radius: 50%;
    }
</style>
<div style="text-align: center;">
    <img src="data:image/jpeg;base64,@(_imgUrl)" alt="Avatar" class="avatar mb-2">
    <p>
        @_name
    </p>
</div>

@code{
    string _imgUrl;
    string _name;
    protected override async Task OnInitializedAsync()
    {

        var user = IsDataNull.CreateInstanceIfIsNull(await _localStorage.GetValue<User>(ValueKeys.UserGraph));
        _name = user.DisplayName;
        _imgUrl = await _localStorage.GetValue<string>(ValueKeys.Avatar);
    }

}